.postHeader {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid #c4c4c4;
  justify-content: space-between;
  width: 100%;
}
.MuiAvatar-root {
  cursor: pointer;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__left > .header__leftDescription {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.header__leftDescription > h3 {
  cursor: pointer;
}
.header__leftDescription > h3:hover {
  text-decoration: underline #de5c8e;
}
.header__left > small {
  margin-left: 10px;
}
.description {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
}
.description > small {
  font-size: 15px;
  color: #de5c8e;
  margin-right: 5px;
  cursor: pointer;
}
.description > small:hover {
  text-decoration: underline #c4c4c4;
}
