.post {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  position: relative;
  min-width: 50vw;
  max-width: 70vw;
  height: 70vh;
  margin: 10px 100px;
  box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.post::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.post {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
