.postFooter {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.action {
  display: flex;
  justify-content: space-evenly;
}
.action__button {
  display: flex;
  cursor: pointer;
  padding: 5px;
  border-radius: 30px;
  font-size: 15px;
}
.action__button:hover {
  background-color: #eff2f5;
}
.getIt__button__click {
  color: #de5c8e;
  background-color: #eff2f5;
}
.action__button > p {
  margin-left: 5px;
}
.postFooter > .description {
  padding: 10px;
}
.postFooter > .description > p {
  margin-left: 10px;
}
.recommend {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-shadow: 3px 5px 5px -5px rgba(0, 0, 0, 0.75);
}
.recommend__box {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  width: 90%;
  margin: -7px 0px;
}
.recommend__box > .details {
  margin-left: 10px;
  background-color: #eff2f5;
  padding: 13px;
  border-radius: 20px;
}
.recommend__sender {
  display: flex;
  width: 90%;
  align-items: center;
  padding: 10px;
}
.recommend__sender > form {
  width: 90%;
  display: flex;
  padding: 10px;
  background-color: #eff2f5;
  border-radius: 50px;
  margin: 10px 0px;
}
.recommend__sender > form > input {
  border: none;
  flex: 1;
  background-color: transparent;
  outline-width: 0px;
  color: #de5c8e;
}
.recommend__sender > form > button {
  display: none;
}
